#titulo {
    color: cornflowerblue;
}

.verde {
    color: rgb(167, 17, 172)
}

h1 {
    color: blue;
    
}

h2 {
    color: red;

}

p {
    color: green;
}

.titules-grandes {
    font-size: 50px;
}

